
<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submitData()">

    <img class="login-form__img" src="../../../assets/images/logo-psl-2019.png" alt="psl_logo">

    <span class="login-form__title">
      InterHelper
    </span>

    <div class="login-form__validation">
      <input class="login-form__validation__input" type="email" placeholder="Email" formControlName="email">
    </div>

    <div class="login-form__validation">
      <input class="login-form__validation__input" type="password" style="font-size: 22px" placeholder="Password" formControlName="password">
    </div>



    <button class="login-form__btn" type="submit"> LOGIN </button>
  </form>
</div>
