<div class="calendar-header">

  <div class="calendar-header__wrap-view-type">
    <div class="btn btn-secondary calendar-header__wrap-view-type__month"
        (click)="setView(CalendarView.Month)"
        [class.active]="currentView === CalendarView.Month"
     >
      Month
    </div>
    <div class="btn btn-secondary calendar-header__wrap-view-type__week"
         (click)="setView(CalendarView.Week)"
         [class.active]="currentView === CalendarView.Week"
     >
      Week
    </div>
  </div>

  <div class="calendar-header__wrap-controls">
    <div class="btn btn-primary calendar-header__wrap-controls__button-left"
         mwlCalendarPreviousView
         [view]="currentView"
         [(viewDate)]="viewDate"
        >
      <i class="fas fa-chevron-left"></i>
    </div>
    <span class="calendar-header__wrap-controls__text"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
        {{ viewDate | calendarDate:(currentView+ 'ViewTitle'):'en' }}
  </span>
    <div class="btn btn-primary calendar-header__wrap-controls__button-right"
         mwlCalendarNextView
         [view]="currentView"
         [(viewDate)]="viewDate"
        >
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
 
  <button class="btn btn-primary calendar-header__btn" (click)="createInterview()" type="submit">
    Program Interview
  </button>

</div>


<div class="calendar-container">

  <div [ngSwitch]="currentView">

    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="calendarEvents"
      (eventClicked)="editInterview($event)"
      [refresh]="refresh"
      >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="calendarEvents"
      (eventClicked)="editInterview($event)"
      [refresh]="refresh"
      >
    </mwl-calendar-week-view>

  </div>

</div>
